/* css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  min-width: 800px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/* header */

header{
  background-color: #ff6900;
  position: fixed;
  width: 100%;
  z-index: 2;
  top:0;
}


header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header .container .logo img{
  height: 30px;
  margin-top: 2px;
}

header .container .text span, .container .icons i{
  cursor: pointer;
  color: white;
  margin-right: 5px;
  font-weight: bold;
}

header .container .text span:hover{
  text-decoration: underline;
}

/* main */

body{
  margin-top: 60px;
}

main .prod-block{
  height: calc(100% / 3);
  width: calc(100% / 3 - 40px);
  position: relative;
  display: inline-block;
  margin: 20px 10px;
}

main .prod-block .product img{
  width: 100%;
}

main .prod-block .product .img-hide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

main .prod-block .product .img-hide:hover{
  opacity: 0;
}

main .prod-block .product .cuore{
  cursor: pointer;
  position: absolute;
  width: 35px;
  top: 5px;
  right: 0;
  background-color: white;
  font-size: 30px;
  text-align: center;
}

main .prod-block .product .cuore:hover{
  color: red;
}

main .prod-block .product .sconto{
  position: absolute;
  bottom: 90px;
  left: 0;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 4px;
  width: 35px;
  text-align: center;
}

main .prod-block .product .eco{
  position: absolute;
  bottom: 90px;
  left: 37px;
  background-color: green;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 4px;
  width: 70px;
}

main .prod-block .product.no-eco .eco{
  display: none;
}

main .prod-block .product.no-sconto .eco{
  left: 0;
}

main .prod-block .descr .marca{
  font-size: 10px;
}

main .prod-block .descr .model{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

main .prod-block .descr .price{
  color: red;
  font-size: 11px;
  font-weight: bold;
}

main .prod-block .descr .old-price{
  text-decoration: line-through;
  font-size: 11px;
}

main .prod-block .product.no-sconto .sconto{
  display: none;
}

main .prod-block .product.no-sconto .sconto{
  display: none;
}

main .prod-block .descr.no-sconto .old-price{
  display: none;
}


/* footer */

footer{
  background-color: #1a1a1a;
  height: 90px;
  margin-top: 20px;
}

footer .container{
  padding-top: 25px;
  color: white;
  line-height: 25px;
}

footer .container .text p{
  font-size: 18px;
  font-weight: bold;
}

footer .container .text span{
  display: inline-block;
  margin-right: 4px;
  font-size: 13px;
  cursor: pointer;
}

footer .container .text span:hover{
  text-decoration: underline;
}

footer .container{
  display: flex;
  justify-content: space-between;
}

footer .container .social p{
  font-size: 13px;
  font-weight: bold;
}


/* nei commit precedenti e' presente la versione degli hover con content */